<div>
  <!-- header home -->
  <app-header></app-header>
  <!--end header home -->
  <app-navigate-manager-component></app-navigate-manager-component>

  <div class="content" style="padding-left: 310px; padding-top: 80px">
    <div class="row d-flex">
      <div class="col">
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/account/create"
        >
          Create Apartment
        </button>
      </div>
      <div class="col ml-auto">
        <button type="button" class="btn btn-primary" (click)="exportExcel()">
          Download File
        </button>
      </div>
    </div>

    <!-- Table with stripped rows -->
    <table class="table table-striped" id="datatable">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Name</th>
          <th scope="col">Room</th>
          <th scope="col">Area</th>
          <th scope="col">Price</th>
          <th scope="col">Bath</th>
          <th scope="col">Listing Status</th>
          <th scope="col">Rental Status</th>
          <th scope="col">End Date</th>
          <th scope="col">Rental Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let apartment of apartments
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
        >
          <th scope="row">{{ apartment.idApartment }}</th>
          <td>
            <a
              (click)="detailApartment(apartment.idApartment)"
              style="cursor: pointer"
            >
              {{ apartment.title }}
            </a>
          </td>
          <td>{{ apartment.nameApartment }}</td>
          <td>{{ apartment.room }}</td>
          <td>{{ apartment.area }}</td>
          <td>{{ apartment.price }}</td>
          <td>{{ apartment.baths }}</td>
          <td>
            <a
              *ngIf="apartment.listingStatus == 1"
              style="text-decoration: none; cursor: pointer"
              class="badge bg-success"
              >post</a
            >
            <a
              *ngIf="apartment.listingStatus == 2"
              style="text-decoration: none; cursor: pointer"
              class="badge bg-warning"
              >pending</a
            >
            <a
              *ngIf="apartment.listingStatus == 0"
              style="text-decoration: none; cursor: pointer"
              class="badge bg-danger"
              >unPost</a
            >
          </td>
          <td>
            <a
              *ngIf="apartment.rentalStatus == 1"
              style="text-decoration: none; cursor: pointer"
              class="badge bg-success"
              (click)="soldApartment(apartment)"
              >active</a
            >
            <a
              *ngIf="apartment.rentalStatus == 0"
              style="text-decoration: none; cursor: pointer"
              class="badge bg-danger"
              (click)="activeApartment(apartment)"
              >sold out</a
            >
          </td>
          <!-- ngày tháng năm  -->
          <td>{{ apartment.postingDate | date : "dd/MM/yyyy" }}</td>
          <td>{{ apartment.endDate | date : "dd/MM/yyyy" }}</td>
          <!-- action -->
          <td>
            <button
              style="margin-right: 4px"
              class="btn btn-danger"
              (click)="deleteListing(apartment)"
            >
              <span class="bi bi-x-square"></span>
            </button>

            <button
              style="margin-right: 4px"
              class="btn btn-info"
              (click)="updateApartment(apartment.idApartment)"
            >
              <i class="bi bi-pencil-square"></i>
            </button>

            <button
              class="btn btn-danger"
              (click)="deleteApartment(apartment.idApartment)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="apartments.length === 0">
          <td colspan="8" class="text-danger">No data found</td>
        </tr>
      </tbody>
    </table>
    <!-- End Table with stripped rows -->
    <pagination-controls
      previousLabel=""
      nextLabel=""
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>
