<div>
  <app-header></app-header>
  <app-navigate-manager-component></app-navigate-manager-component>

  <div class="content" style="padding-left: 310px; padding-top: 80px">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create Account</h5>

        <form (ngSubmit)="onSubmit()" #createAccountForm="ngForm">
          <div class="row mb-3">
            <label for="username" class="col-sm-2 col-form-label"
              >Username</label
            >
            <div class="col-sm-10">
              <input
                id="username"
                [(ngModel)]="account.username"
                name="username"
                type="text"
                class="form-control"
                required
              />
            </div>
          </div>

          <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label"
              >Password</label
            >
            <div class="col-sm-10">
              <input
                id="password"
                [(ngModel)]="account.password"
                name="password"
                type="password"
                class="form-control"
                required
              />
            </div>
          </div>

          <div class="row mb-3">
            <label for="repass" class="col-sm-2 col-form-label"
              >Repassword</label
            >
            <div class="col-sm-10">
              <input
                id="repass"
                [(ngModel)]="repassword"
                name="password"
                type="password"
                class="form-control"
              />
            </div>
          </div>

          <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input
                id="name"
                [(ngModel)]="account.name"
                name="name"
                type="text"
                class="form-control"
                required
              />
            </div>
          </div>

          <div class="row mb-3">
            <label for="phone" class="col-sm-2 col-form-label"
              >Phone Number</label
            >
            <div class="col-sm-10">
              <input
                id="phone"
                [(ngModel)]="account.phone"
                name="phone"
                type="email"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input
                id="email"
                [(ngModel)]="account.email"
                name="email"
                type="text"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="row mb-3">
            <label for="amount" class="col-sm-2 col-form-label">Amount</label>
            <div class="col-sm-10">
              <input
                id="amount"
                [(ngModel)]="account.amount"
                name="amount"
                type="number"
                class="form-control"
                required
              />
            </div>
          </div>

          <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Roles</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gridRadios"
                  id="gridRadios3"
                  value="3"
                  [(ngModel)]="account.role"
                  required
                />
                <label class="form-check-label" for="gridRadios3">
                  Censor
                  <i
                    class="bi-check-circle-fill"
                    style="color: green"
                    title="Verified account"
                  ></i>
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gridRadios"
                  id="gridRadios1"
                  value="1"
                  [(ngModel)]="account.role"
                  required
                  checked
                />
                <label class="form-check-label" for="gridRadios1">
                  Seller
                </label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gridRadios"
                  id="gridRadios2"
                  value="2"
                  [(ngModel)]="account.role"
                  required
                />
                <label class="form-check-label" for="gridRadios2">
                  Customer
                </label>
              </div>
            </div>
          </fieldset>

          <hr />
          <div class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0"></legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="gridCheck1"
                  (change)="toggleVerify()"
                  checked
                />

                <label class="form-check-label" for="gridCheck1">
                  Verify
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!createAccountForm.form.valid"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
